{% extends 'index.html' %}

{% block content %}

<br />
<!-- Lisäyslomakkeen paikka -->
<div id="add-div"></div>
<br />

<h1 style="color: rgb(36, 14, 230)">Lemmikit</h1>


<a onclick="showaddform()" class="btn btn-primary">Lisää uusi lemmikki</a>

{% for p in lemmikit %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">{{p.lemmikkirotu}} </h3>
        <h5 class="card-text">Kasvattaja: {{p.kasvattaja.companyname}}</h5>
        Myyntihinta: {{p.unitprice}}</p>
        <p class="card-text" style="color: rgb(243, 8, 8);">Myynnissä: {{p.unitsinstock}}</p>
        <!-- <a href="/edit-lemmikki-get/{{p.id}}/" class="btn btn-primary">Muokkaa</a> -->

        <a href="/lemmikit-by-kasvattaja/{{p.kasvattaja.id}}/" class="btn btn-secondary">{{p.kasvattaja.companyname}} Lemmikit</a>
        <a href="/confirm-delete-lemmikki/{{p.id}}/" class="btn btn-danger">Poista</a>
        


    </div>
</div>


{% empty %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">Lemmikkejä ei löytynyt tietokannasta </p>
    </div>
</div>

{%endfor%}


<script>

    let y = `
    <h2 style="color: darkorange;">Täytä lomakkeen tiedot</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-lemmikki/">
                {%csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="lemmikkirotu" name="lemmikkirotu">
                <input class="card-text" type="text" placeholder="hinta" name="unitprice">
                <input class="card-text" type="text" placeholder="saatavuus määrä" name="unitsinstock">
                <br />
                <label for="kasvattaja">Kasvattaja</label>
                <select id="kasvattaja" name="kasvattaja">
                {% for s in kasvattajat %}
                  <option value="{{s.id}}">{{s.companyname}}</option>
                  {% endfor %}
                </select>

                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = y
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}

